<p><small>| <% @priorities.each do |p| %>
<font style="color: <%= p.color %>"> <%= p.name %></font> |
<% end %></small></p>

<% @tasks.each do |t| %>
<%= link_to_unless t.title.nil?,  "<p>#{t.title}</p>", :controller => "tasks", :action => "show", :id => t.id %> 
<% end %> 
