<html>
<head>
<%= stylesheet_link_tag "task_style" %>
</head>
<body> 
<div id="container">
  <div id="headline">
    Rails Todo Application<br/>
    <small>(with Basecamp-like css)</small>
  </div>
<div id="content">
<%= yield %>
</div>
</div>

</body>
</html>
